* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background: hsl(0, 0%, 95%);
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 170px;
    margin-bottom: 170px;
    width: 900px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    animation: chargement 0.8s ease-in-out;
}

@keyframes chargement {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.card1 {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
    height: 500px;
    width: 300px;
    padding-left: 50px;
    transition: transform .2s;
}


.card2 {
    background-color: hsl(184, 100%, 22%);
    height: 500px;
    width: 300px;
    padding-left: 50px;
    transition: transform .2s;
}

.card3 {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
    height: 500px;
    width: 300px;
    padding-left: 50px; 
    transition: transform .2s;
}

.icones {
    padding-top: 50px;
}

h2 {
    padding-top: 50px;
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display';
    font-size: 2.5em;
}

p { 
    font-family: 'Lexend Deca', sans-serif;
    padding-top: 30px;
    line-height: 1.5em;
    color: hsla(0, 0%, 100%, 0.75);
}


.btn {
    height: 50px;
    width: 145px;
    background-color:  hsl(0, 0%, 95%);
    border-radius: 25px;
    margin-top: 50px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 600;
    transition: all 0.3s;
    border: 2px solid  hsl(0, 0%, 95%);
}

.btn1 {
    color: hsl(31, 77%, 52%);
}

.btn2 {
    color: hsl(184, 100%, 22%);
}

.btn3 {
    color: hsl(179, 100%, 13%);
}

.btn:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    color: hsl(0, 0%, 95%);
    transition: all 0.3s;
    
    
}

.btn1:hover {
    background-color:hsl(31, 77%, 52%)
}

.btn2:hover {
    background-color:  hsl(184, 100%, 22%);
}

.btn3:hover {
    background-color:  hsl(179, 100%, 13%);
}

@media screen and (max-width: 950px) {
   
    main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1500px;
    width: 300px;
    }

    .card1 {
        border-radius: 10px 10px 0 0;
    }

    .card3 {
        border-radius: 0 0 10px 10px;
    }
}


.card1:hover {
        transform: scale(1.15);
        transition: 0.5s;
}

.card2:hover {
    transform: scale(1.15);
    transition: 0.5s;
}

.card3:hover {
    transform: scale(1.15);
    transition: 0.5s;
}


